﻿@model VacationDays.ViewModels.VacationManagementOutputModel
@using VacationDays.Classes;

@{
    ViewData["Title"] = "Vacations management";
}

<hr class="blueLine"/>
<h3>Requests history</h3> 
<hr class="blueLine" />

<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Owner
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Days taken
            </th>
            <th>
                Is Approved
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.vacationsList) {
        <tr>
            <td>
                @item.Id
            </td>
            <td>
                @item.OwnerName
            </td>
            <td>
                @item.StartDate.ToString("dd MMMM yyyy")
            </td>
            <td>
                @item.EndDate.ToString("dd MMMM yyyy")
            </td>
            <td>
                @item.DaysTaken
            </td>
            <td>
                @item.Status
            </td>
        </tr>
} 
    </tbody>
</table>
