﻿@model VacationDays.ViewModels.VacationManagementOutputModel
@using VacationDays.Classes;

@{
    ViewData["Title"] = "Vacations management";
}

<body>
    <hr class="blueLine" />
    <h3>Pending vacation requests</h3>
    <hr class="blueLine" />


    <div style="float:right">
        <label class="form-check-label" for="exampleCheck1">Send Email</label>
        <br />
        <label class="switch">
            <input onclick="SetSendEmailBool()" type="checkbox" class="form-check-input" id="sendEmailCheckbox">
            <span class="slider round"></span>
        </label>

    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Owner
                </th>
                <th>
                    Start Date
                </th>
                <th>
                    End Date
                </th>
                <th>
                    Days taken
                </th>
                <th>
                    Is Approved
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.vacationsList)
            {
                <tr>
                    <td>
                        @item.Id
                    </td>
                    <td>
                        @item.OwnerName
                    </td>
                    <td>
                        @item.StartDate.ToString("dd MMMM yyyy")
                    </td>
                    <td>
                        @item.EndDate.ToString("dd MMMM yyyy")
                    </td>
                    <td>
                        @item.DaysTaken
                    </td>
                    <td>
                        @item.Status
                    </td>
                    <td>
                        @if (item.Status == VacationStatus.Pending)
                        {
                            <form method="POST">
                                <input hidden="hidden" type="checkbox" id="sendEmail" name="sendEmail" value="true" />
                                <button class="btn-fill btn btn-info roundedButton-primary roundedButton-red" type="submit" asp-action="Reject" asp-route-id="@item.Id">x Reject</button>
                                <button style="margin-left:20px" class="btn-fill btn btn-info roundedButton-primary roundedButton-green" type="submit" asp-action="Approve" asp-route-id="@item.Id">✓ Approve</button>
                            </form>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>

</body>


<script>
     
    function SetSendEmailBool()
    {
        var checked = document.getElementById("sendEmailCheckbox").checked;
        var x = document.getElementsByName("sendEmail");
        var i;
        for (i = 0; i < x.length; i++) {
            if (x[i].type == "checkbox" || x[i].type == "hidden")
            {
                x[i].checked = checked;
            }
        }

        document.getElementById("c1").checked = checked;

        return true;
    }

</script>

