﻿@model IEnumerable<string>

@{
    ViewData["Title"] = "Ooops! Something went wrong.";
}

<table class="table">
    <thead>
        <tr>
            <th>
                Errors
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td style="color:red">
                    @item
                </td>
            </tr>
        }
    </tbody>
</table>

<form method="get">
    <button class="btn-fill btn btn-info roundedButton roundedButton-primary" type="submit" asp-action="Index" asp-controller="NationalFreeDays">Go back!</button>
</form>