﻿@model IEnumerable<VacationDays.Models.NationalFreeDay>

@{
    ViewData["Title"] = "National free days";
}
<hr class="blueLine" />
<h3>National free days</h3>
<hr class="blueLine" />
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                Date
            </th>
            <th>
                Description
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @item.Date.ToString("dd MMMM yyyy, dddd")
            </td>
            <td>
                @item.Description
            </td>
            <td>
                @*This works!*@
                <form method="post">
                    <button class="btn-default btn roundedButton" type="submit" asp-action="Delete" asp-controller="NationalFreeDays" asp-route-id="@item.Id">Delete</button>
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>
 

<form method="post">
    <label>Date</label>
    <br />
    <input type="date" data-val="true" data-val-required="The date field is required." id="Date" name="Date" value="" />
    <br />
    <label>Description</label>
    <br />
    <input type="text" data-val="true" data-val-required="The description field is required." id="Description2" name="Description" value="" />
    <br />
    <br />
    <button class="btn-fill btn btn-info roundedButton roundedButton-primary" type="submit" asp-action="AddFreeDay" asp-controller="NationalFreeDays">Add free day</button>
</form>