﻿@model VacationDays.ViewModels.CalendarInputModel

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <style>

        body {
            background-color: greenyellow;
        }

        .box {
            background-color: red;
            width: 110px;
            height: 110px;
            margin: 0 auto;
            border: 3px solid #000000
        }
    </style>
    <title></title>
</head>
<body>
    @{var counter = 0; }
    <table>
        @for (int i = 0; i < 5; i++)
        {
            <tr>
                @for (int j = 0; j < 7; j++)
                {
                    counter = j;
                    <td>
                        <form method="post">
                            <a asp-action="Calendar">
                                <div class="box">
                                    <input asp-for="Day" />
                                    <input type="submit" name="Save" value="Save" />
                                </div>
                            </a>
                        </form>
                    </td>
                }
            </tr>
        }
    </table>

    <form asp-action="Calendar" asp-controller="Vacation">
        <label asp-for="Day"></label>
        <input asp-for="Day" />
        <input type="submit" value="Go" />
    </form>

    <form asp-action="Calendar" asp-controller="Vacation">
        <input asp-for="Day" />
        <button class="box" data-val name="mysubmitbutton" id="Day" value="5" type="submit">
            Button Text
        </button>
    </form>

</body>
    </html>
