﻿@model IEnumerable<string>

@{
    ViewData["Title"] = "Error";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<body>
    <h2>Ooops! Something went wrong.</h2>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>
                    Error
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="color:red">
                         @item
                    </td>
                </tr>
            }
        </tbody>
    </table>



    <form method="get">
        <button class="btn-fill btn btn-info roundedButton roundedButton-primary" type="submit" asp-action="Create" asp-controller="Vacation">Back</button>
    </form>
</body>
</html>