﻿@model VacationDays.ViewModels.Vacations.VacationDateTimeEditModel

@{
    ViewData["Title"] = "Submit a new vacation request";
}

<hr class="blueLine" />
<h3>Submit a new vacation request</h3>
<hr class="blueLine" />

<div class="row">
    <div class="col-md-4">
        <form method="post">

            <label for="StartDate">Start date</label>
            <br />
            <input type="date" data-val="true" data-val-required="The Start date field is required." id="StartDate" name="StartDate" value="" />
            <br />
            <span class="field-validation-valid" data-valmsg-for="StartDate" data-valmsg-replace="true"></span><br />

            <label for="EndDate">End date</label>
            <br />
            <input type="date" data-val="true" data-val-required="The End date field is required." id="EndDate" name="EndDate" value="" />
            <span class="field-validation-valid " data-valmsg-for="EndDate" data-valmsg-replace="true"></span><br />

            <br />
            <input class="btn-fill btn btn-info roundedButton roundedButton-primary" type="submit" name="Submit" value="Submit" />

            <br />
            <br />
            <div style="color:red" asp-validation-summary="All"></div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>


