﻿@model IEnumerable<VacationDays.Models.Vacation>

@{
    ViewData["Title"] = "My Vacations";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>My vacation requests</title>
</head>
<body>

    <section class="panel-default">
        <hr class="blueLine" />
        <h3>My vacation requests</h3>
        <hr class="blueLine" />
    </section>
        @*<h2 class="panel-heading">Vacations taken</h2>*@
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Start Date
                        </th>
                        <th>
                            End Date
                        </th>

                        <th>
                            Days taken
                        </th>
                        <th>
                            Status
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.StartDate.ToString("MMMM, dd, yyyy")
                            </td>
                            <td>
                                @item.EndDate.ToString("MMMM, dd, yyyy")
                            </td>
                            <td>
                                @item.DaysTaken
                            </td>
                            @if (item.Status == VacationDays.Classes.VacationStatus.Pending)
                            {
                                <td> Pending approval</td>
                            }
                            else
                            {
                                <td> @item.Status</td>
                            }
                            <td>
                                <a class="btn-default btn roundedButton" asp-action="Details" asp-route-id="@item.Id "> Details</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    <form method="get">
        <button class="btn-fill btn btn-info roundedButton roundedButton-primary" type="submit" asp-action="Create" asp-controller="Vacation">New vacation request</button>
    </form>
</body>
</html>