﻿@model VacationDays.ViewModels.Vacations.MyFreeDaysViewModel

@{
    ViewData["Title"] = "My free days";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>  
    <link rel="stylesheet" type="text/css" href="css/Sidebar.css">
</head>

<body>
    <section class="panel-default">
        <hr class="blueLine" />
        <h3>My free days</h3>
        <hr class="blueLine" />
    </section>

    <br />
    <h4>Summary</h4>
    <table class="table">
        <tbody>
            <tr>
                <td>
                    Date hired:
                </td>
                <td>
                    @Model.DateHired.ToString("MMMM, dd, yyyy")
                </td>
            </tr>

            <tr>
                <td>
                    Free days required by the state:
                </td>
                <td>
                    @Model.FreeDaysRequiredByLaw
                </td>
            </tr>

            <tr>
                <td>
                    Starting bonus days:
                </td>
                <td>
                    @Model.BonusDaysFromCompany
                </td>
            </tr>
            <tr>
                <td>
                    Bonus days for seniority:
                </td>
                <td>
                    @{
                        @( DateTime.Now.Year - Model.DateHired.Year)
                    }
                </td>
            </tr>

            <tr>
                <td>
                    Free days left from last year:
                </td>
                <td>
                    @Model.FreeDaysLeftFromLastYear
                </td>
            </tr>

            <tr>
                <td>
                    Free days given this year:
                </td>
                <td>
                    @Model.FreeDaysGivenThisYear
                </td>
            </tr>
            <tr>
                <td>
                    Vacation days taken this year:
                </td>
                <td>
                    @Model.VacationDaysTakenThisYear
                </td>
            </tr>
            <tr class="orangeHighlight">

                <td>
                    Total available free days:
                </td>
                <td>
                    @Model.TotalAvailableFreeDays
                </td>
            </tr>

        </tbody>
    </table>

    @*<hr class="blueLine" />*@

    <br />

    <h4>History</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Year
                </th>
                <th>
                    Days off taken
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.YearlyHistory)
            {
                <tr>
                    <td>
                        @item.Key
                    </td>
                    <td>
                        @item.Value
                    </td>
                </tr>
            }
        </tbody>
    </table>

</body>
</html>