﻿@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject VacationDays.Services.NotificationsService Notifications; 
 
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/css/Sidebar.css">
    <link rel="stylesheet" type="text/css" href="~/css/Switches.css">
</head>
<body>

    <div class="sidenavBackground"></div>

    <div class="sidenav">
        @if (SignInManager.IsSignedIn(User))
        {
            <span class="sidenavText" style="color:white">Hello,</span>
            <a class="name" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@UserManager.GetUserName(User)</a>
            <br />
            <a class="sidenavButton" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Account settings</a>
            <a class="sidenavButton" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })"> Logout</a>

        }
        else
        {
            <a class="sidenavButton" asp-area="Identity" asp-page="/Account/Register">Register</a>
            <a class="sidenavButton" asp-area="Identity" asp-page="/Account/Login">Login</a>
        }


        <div style="opacity:0.5">
            <hr class="style-two">
        </div>

        <a class="sidenavButton" asp-area="" asp-controller="Home" asp-action="Index">Home</a>

        @if (SignInManager.IsSignedIn(User))
        {
            <div style="opacity:0.5">
                <hr class="style-two">
            </div>
            <a class="sidenavButton" asp-area="" asp-controller="Vacation" asp-action="Create">New vacation request</a>
            <a class="sidenavButton" asp-area="" asp-controller="Vacation" asp-action="Index">My requests</a>
            <a class="sidenavButton" asp-area="" asp-controller="Vacation" asp-action="ShowFreeDays">My Free Days</a>
        }

        @if (User.IsInRole("Manager"))
        {
            <div style="opacity:0.5">
                <hr class="style-two">
            </div>



            <a class="sidenavButton" asp-area="" asp-controller="VacationsManagement" asp-action="Pending">
                Pending requests
                @if (@Notifications.PendingRequestsNotification.GetValue() > 0)
                {
                    <span class="notificationOrange"> @Notifications.PendingRequestsNotification.GetValue()</span>
                }
            </a>

            <a class="sidenavButton" asp-area="" asp-controller="VacationsManagement" asp-action="Index">Request history</a>
            <a class="sidenavButton" asp-area="" asp-controller="NationalFreeDays" asp-action="Index">National Free Days</a>
        }

        @if (User.IsInRole("Admin"))
        {
            <div style="opacity:0.5">
                <hr class="style-two">
            </div>
            <a class="sidenavButton" asp-area="" asp-controller="User" asp-action="Roles" style="color:white">Test user roles</a>
        }

        <div style="opacity:0.5">
            <hr class="style-two">
        </div>

        @*<button class="accordion"><span class="accordionText">About the web app </span><span id="plus" class="plus"></span></button>*@
        <button class="accordion"><span class="accordionText">About the web app </span>
                                  <span id="plus" class="plus"><img id="img" src="~/plus.png"class="plusImg"><span></span>
            </button> 

        <div class="panel"> 

            <a class="sidenavButton" asp-area="" asp-controller="Home" asp-action="About">About</a>
            <a class="sidenavButton" asp-area="" asp-controller="Home" asp-action="Contact">Contact</a>
            <a class="sidenavButton" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>

        <div style="opacity:0.5">
            <hr class="style-two">
        </div>     
     
    </div>
    <br />

    <script>
        var acc = document.getElementsByClassName("accordion");
        var i;
        var img = document.getElementById("img");

        for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var panel = this.nextElementSibling;
                if (panel.style.maxHeight) {
                    panel.style.maxHeight = null;
                    plus.style.transform = "rotate(0deg)";
                    img.src = "../plus.png";
                }
                else {
                    panel.style.maxHeight = panel.scrollHeight + "px";
                    plus.style.transform = "rotate(720deg)";
                    img.src = "../minus.png";
                }
            });
        }
    </script>
     
</body>
</html>

