﻿@model VacationDays.Models.Vacation

<h1> @Model.Id</h1>

<div>
    Period: <br />
    @Model.StartDate.ToShortDateString()<br />
    @Model.EndDate.ToShortDateString()<br />
    <a asp-action="Index" asp-controller="Vacation">Back</a>
</div>
