﻿body {
    font-family: sans-serif !important;
    background-color: #f5f5f5 !important;
}

.roundedBodyContent {
    background-color: white !important;
    padding: 30px;
    border: solid;
    border-color: #ebebeb;
    /*border-color: black;*/
    border-radius: 10px;
    border-width: thin;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.roundedButton {
    border-radius: 13px !important; 
}

.roundedButton-bold {
    font-weight: bold !important;
}

.roundedButton-primary {
    border-radius: 13px !important;
    background-color: darkorange !important;
    font-weight: bold !important;
    border-color: darkorange !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

    .roundedButton-primary:hover {
        border-radius: 13px !important;
        background-color: #fa9e2d !important;
        font-weight: bold !important;
        border-color: darkorange !important;
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-width: thin;
    }

.roundedButton-green {
    background-color: #87cb16 !important;
    border-color: #87cb16 !important;
    font-weight: normal !important;
}

    .roundedButton-green:hover {
        background-color: #80be18 !important;
        border-color: #80be18 !important;
        font-weight: normal !important;
    }


.roundedButton-red {
    background-color: #fb404b !important;
    border-color: #fb404b !important;
}

    .roundedButton-red:hover {
        background-color: #c1343c !important;
        border-color: #c1343c !important;
    }

.blueLine {
    border: 1px solid #5bc0de;
    border: 1px solid orange;
}

.orangeHighlight {
    background-color: orange;
    font-weight:bold;
    color:white;
}

.notificationOrange {
    background-color: darkorange;
    padding: 5px;
    border-radius: 5px;
    margin: 15px;
    color: black;
    animation-name: animateNotification;
    animation-duration: 0.46s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes animateNotification {
    from {
        margin-left: 15px;
    }

    to {
        margin-left: 20px;
    }
}

@keyframes rounder {
    from {
        border-radius: 4px;
    }

    to {
        border-radius: 15px; 
    }
}

@keyframes squeeze {
    from {
        padding-left: 6px;
        padding-right: 6px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    to {
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 6px;
        padding-bottom: 6px;
    }
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

    .switch input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider {
    background-color: darkorange;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

    .slider.round:before {
        border-radius: 50%;
    }


h3 {
    color: white !important;
    text-shadow: 2px 1px 3px #000000, 0px -1px 6px #000000;
    font-weight: bold !important;  
}   