﻿body {
    /*background-image: url("https://demos.creative-tim.com/light-bootstrap-dashboard-pro-react/static/media/full-screen-image-2.f7c47e22.jpg");*/
    /*background-image: url("https://demos.creative-tim.com/light-bootstrap-dashboard-pro-react/static/media/full-screen-image-3.ef9c8d65.jpg");*/
    font-family: sans-serif !important;
} 

hr {
    left: 20px;
    right: 20px;
} 
    .style-two {
        margin-left: 20px;
        margin-right: 20px;
        border: 0;
        height: 1px;
        background: #333;
        background-image: linear-gradient(to right, #333, #ccc, #333);
    } 

.separator {
    height: 11px;
    width: 80%;
    position: center;
    opacity: 0.1;
}

.sidenavBackground {
    background-image: url("https://demos.creative-tim.com/light-bootstrap-dashboard-pro-react/static/media/full-screen-image-3.ef9c8d65.jpg");
    background-position: center;
    height: 100%;
    width: 280px;
    position:fixed;
    z-index: 1;
    top: 0px;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav {
    height: 100%;
    width: 280px;
    position: fixed;
    z-index: 1;
    top: 0px;
    left: 0;
    /*background-color: #111;*/
    overflow-x: hidden;
    padding-top: 20px;
    background: rgba(30, 30, 30, 0.85);
}

    .sidenav a {
        padding: 0px 8px 16px 16px;
        text-decoration: none;
        font-size: 21px;
        color: #818181;
        display: block;
    }

    .sidenav a:hover {
        color: #f1f1f1;
    }

.main {
    margin-left: 260px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}

a.name {
    color: orange !important;
    font-size: 16px !important;
    margin-left: 20px;
}

    a.name:hover {
        color: navajowhite !important;
    }
     
    
.sidenavText {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 21px;
    color: #818181; 
    display: block;
}

.sidenavButton {
    color: white !important;
    font-size: 14px !important;
    margin-left: 15px;
    margin-right: 15px;
    transition: margin-left 0.3454s;
    height: 35px;
    line-height: 35px;
    font-weight: bold;
    border-radius: 5px;
} 

    .sidenavButton:hover {
        margin-left: 25px;
        margin-right: 25px;
        color: white !important;
        background: rgba(255, 255, 255, 0.1299);
    }

.accordion {
    background-color: inherit;
    background: rgba(255, 255, 255, 0.0);
    width: 100%;
    border: none;
    transition: 0.4s;
    color: white !important;
    font-size: 14px !important;
    margin-left: 0px;
    margin-right: 15px;
    transition: margin-left 0.2454s;
    height: 35px;
    line-height: 35px;
    font-weight: bold;
    transition: 1s !important;
    vertical-align: middle;
}

    .active, .accordion:hover { 
        color: white !important;
        background: rgba(255, 255, 255, 0.299);
    }

    .accordion:after {
        /*content: '\002B';*/ 
        color: darkorange;
        font-weight: bold;
        font-size: 15px;
        /*float: right;*/
        margin-left: 5px;
        transform: rotate(30deg) !important;
    }


.accordionText { 
    vertical-align:top;
}
.active:after {
    /*content: "\2212";*/ 
    transform: rotate(30deg) !important;
    color: blue;
}  

.panel {
    padding: 0 18px;
    background-color: inherit;
    background: rgba(255, 255, 255, 0);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.plus {
    transition: 0.5s !important;
    display: inline-block; 
}

.plusImg {
    margin-bottom: 1px;
    height:12px;
    width:12px;
}
 