﻿.switch3 {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 60px;
}

    .switch3 input {
        opacity: 0;
        width: 0;
        height: 0;
    }

.slider2 {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; 
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

    .slider2:before {
        position: absolute;
        content: "";
        height: 46px;
        width: 26px;
        left: 17px;
        bottom: 7px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

input:checked + .slider2 {
    background-color: darkorange;
 
}

input:focus + .slider2 {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider2:before {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    /*transform: scale(1.5);*/
    transform: rotate(720deg);
}

/* Rounded sliders */
.slider2.round {
    border-radius: 34px;
}

    .slider2.round:before {
        border-radius: 50%;
    }

.showMore {
    background-color:darkorange;
}

.showMore:hover {
    background-color: orange;
}

.showMorePanel {
    padding: 0 0 0 0;
    background-color: inherit;
    background: rgba(255, 255, 255, 0);
    max-height: 0;
    overflow:hidden;
    transition: max-height 0.2s ease-out;
}

.showMoreForm {


}