﻿@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<style>
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
</style> 

<header>
    @*<h1 class="text-danger">@ViewData["Title"]</h1>*@
    <h3 class="text-danger">You do not have access to this resource.</h3>
    <br />
    <br />
    <img src="~/denied-stamp.png" class="center" />
    <br />
    <br />


</header>
